<div #parent
     [style.width]="width"
     [style.height]="height"
     class="drawing-area"
     (mousedown)="startDrawing($event)"
     (mousemove)="drawingRect($event)"
     (mouseup)="endDrawing($event)"
>
  @for(rect of rectangles;track rect){
    <div
      class="rectangle"
      [class.selected]="rect.id === selectedRectId"
      [style.left.px]="rect.x"
      [style.top.px]="rect.y"
      [style.width.px]="rect.width"
      [style.height.px]="rect.height"
      (mousedown)="selectRectangle($event, rect)">

      @for(handle of resizeHandles; track handle){
        <div class="resize-handle"
             [class]="handle"
             (mousedown)="startResizing($event, rect, handle)">
        </div>
      }
    </div>
  }

</div>
